#/
# @license BSD-3-Clause
#
# Copyright (c) 2019 Project Jupyter Contributors.
# Distributed under the terms of the 3-Clause BSD License.
#/

# EditorConfig configuration file (see <http://editorconfig.org/>).

# Indicate that this file is a root-level configuration file:
root = true

# Set properties for all files:
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Set properties for JavaScript files:
[*.js]
indent_style = space
indent_size = 2

# Set properties for TypeScript files:
[*.ts]
indent_style = space
indent_size = 2

# Set properties for TSX files:
[*.tsx]
indent_style = space
indent_size = 2

# Set properties for Python files:
[*.py]
indent_style = space
indent_size = 4

# Set properties for Julia files:
[*.jl]
indent_style = tab

# Set properties for R files:
[*.R]
indent_style = tab

# Set properties for C files:
[*.c]
indent_style = tab

# Set properties for C header files:
[*.h]
indent_style = tab

# Set properties for C++ files:
[*.cpp]
indent_style = tab

# Set properties for C++ header files:
[*.hpp]
indent_style = tab

# Set properties for Fortran files:
[*.f]
indent_style = space
indent_size = 2
insert_final_newline = false

# Set properties for shell files:
[*.sh]
indent_style = tab

# Set properties for AWK files:
[*.awk]
indent_style = tab

# Set properties for HTML files:
[*.html]
indent_style = tab
tab_width = 2

# Set properties for CSS files:
[*.css]
indent_style = tab

# Set properties for Makefiles:
[Makefile]
indent_style = tab

[*.mk]
indent_style = tab

# Set properties for Markdown files:
[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

# Set properties for `package.json` files:
[package.json]
indent_style = space
indent_size = 2

# Set properties for `datapackage.json` files:
[datapackage.json]
indent_style = space
indent_size = 2

# Set properties for `lerna.json` files:
[lerna.json]
indent_style = space
indent_size = 2

# Set properties for `tslint.json` files:
[tslint.json]
indent_style = space
indent_size = 2

# Set properties for `tsconfig.json` files:
[tsconfig.json]
indent_style = space
indent_size = 2

# Set properties for LaTeX files:
[*.tex]
indent_style = tab

# Set properties for LaTeX Bibliography files:
[*.bib]
indent_style = tab

# Set properties for YAML files:
[*.yml]
indent_style = space
indent_size = 2
