#/
# @license BSD-3-Clause
#
# Copyright (c) 2019 Project Jupyter Contributors.
# Distributed under the terms of the 3-Clause BSD License.
#/

build
lib
node_modules
screenshots

**/.ipynb_checkpoints
*.tsbuildinfo

.idea
*.iml
.vscode

__pycache__/

yarn.lock
yarn-error.log
package-lock.json
