#/
# @license BSD-3-Clause
#
# Copyright (c) 2019 Project Jupyter Contributors.
# Distributed under the terms of the 3-Clause BSD License.
#/

# Configuration for [yarn][1].
#
# [1]: https://yarnpkg.com/lang/en/docs/yarnrc/

# Disable the creation of a lock file:
--install.no-lockfile true
